.calendar{
    position: relative;
    align-content: center;
    border: 3px solid #73AD21;
}
.calendar iframe{
    margin: 0 auto;
    background-color: #777;;
}
iframe {
    display: block;
    border-style:none;
}